/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 


@font-face{
font-family: Prototype;
font-style: normal;
font-weight: normal;
src: url(../fonts/prototype/Prototype.ttf);

}

@font-face{
font-family: GoodNews;
font-style: normal;
font-weight: normal;
src: url(../fonts/good_news/goodnews.otf);

}

h1,h2{
  font-size:5em;
  font-family:Prototype ;
  padding: 20px; 
}
h3,h4{
  font-family: GoodNews;
  font-size: 6em;
}

h5{
  font-size:4em;
  font-family: GoodNews;
}

h6{
  padding: 2px;
  font-size:3em;
  font-family: GoodNews;
}


      
.aclarar{
  BACKGROUND-COLOR:rgba(255,255,255,0.25);
  
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

h5{
  margin-top: 50px;
  padding: 30px;
}

#img_slide{
  width: 100%;
}
#imgsection{
  width: 100%;
  float: left;
  border-radius: 50%;
  padding: 5%;
}
#p_section{
  font-size: 17px;
  margin-left: 50px;
  margin-right: 50px;
}
.ir-arriba {
  display:none;
  padding:20px;
  background:#ffcdd2 ;
  
  color:#fff;
  cursor:pointer;
  position: fixed;
  bottom:20px;
  right:20px;
}
#dropdown1{
  margin-top:60px;

}
li{
  font-family: Roboto;
  font-size: 20px;
  color: black;
}
